<!-- Header Component -->
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1>Multi-Tools</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="imageToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Image Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="imageToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/image-compressor.html">Image Compressor</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/image-cropper.html">Image Cropper</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/image-resizer.html">Image Resizer</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/image-to-base64.html">Image to Base64</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/image-to-jpg.html">Image to JPG</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/image-to-png.html">Image to PNG</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/qr-code-generator.html">QR Code Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/image-tools/Screenshot-to-PDF-Converter.html">Screenshot to PDF Converter</a></li>

                            <!-- More image tools -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="seoToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SEO Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="seoToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Backlink-Checker.html">Backlink Checker</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Domain-Authority-Checker.html">Domain Authority Checker</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Google-Index-Checker.html">Google Index Checker</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Keyword-Density-Checker.html">Keyword Density Checker</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Meta-Tag-Generator.html">Meta Tag Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Mobile-Friendly-Test.html">Mobile Friendly Test</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Page-Speed-Checker.html">Page Speed Checker</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Robots.txt-Generator.html">Robots.txt Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/Sitemap-Generator.html">Sitemap Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/seo-tools/XML-Sitemap-Validator.html">XML Sitemap Validator</a></li>

                            
                            
                            <!-- More SEO tools -->


                        </ul>
                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="texttoolssDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Text Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="texttoolssDropdown">
                            <li><a class="dropdown-item" href="/tools/tools/text-tools/case-converter.html">Case Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/text-tools/character-counter.html">Character Counter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/text-tools/Fancy-Text-Generator.html">Fancy Text Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/text-tools/url-encoder-decoder.html">Url Encoder Decoder</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/text-tools/word-counter.html">Cord Counter</a></li>

                            <!-- More SEO tools -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="calculatorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Calculators
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="calculatorsDropdown">
                            <li><a class="dropdown-item" href="/tools/tools/calculators/age-calculator.html">Age Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/binary-to-decimal-converter.html">Binary to Decimal Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/bmi-calculator.html">BMI Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/currency-converter.html">Currency Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/discount-calculator.html">Discount Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/loan-emi-calculator.html">Loan EMI Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/percentage-calculator.html">Percentage Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/scientific-calculator.html">Scientific Calculator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/time-zone-converter.html">Time Zone Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/calculators/tip-calculator.html">Tip Calculator</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="developerToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Developer Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="developerToolsDropdown">
                           <li><a class="dropdown-item" href="/tools/tools/developer-tools/base64-encoder-decoder.html">Base64 Encoder/Decoder</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/Color-Code-Picker.html">Color Code Picker</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/css-minifier.html">CSS Minifier</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/html-to-markdown.html">HTML to Markdown</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/IP-Address-Lookup.html">IP Lookup</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/json-formatter.html">JSON Formatter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/markdown-to-html-conveter.html">Markdown To Html Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/developer-tools/SQL-Formatter.html">SQL Formatter</a></li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="securityToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Security Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="securityToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/tools/security-tools/md5-hash-generator.html">MD5 Hash Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/security-tools/password-generator.html">Password Generator</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/security-tools/sha256-hash-generator.html">SHA256 Hash Generator</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="socialMediaToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Miscellaneous Tools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="socialMediaToolsDropdown">
                            <li><a class="dropdown-item" href="/tools/miscellaneous-tools/Random-String-Generator.html">Random String Generator</a></li>
                          
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="unitConvertersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Unit Converters
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="unitConvertersDropdown">
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Angle-Converter.html">Angle Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Data-Storage-Converter.html">Data Storage Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Energy-Converter.html">Energy Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Fuel-Efficiency-Converter.html">Fuel Efficiency Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Length-converter.html">Length Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Pressure-Converter.html">Pressure Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Speed-Converter.html">Speed Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Temperature-converter.html">Temperature Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Volume-Converter.html">Volume Converter</a></li>
                            <li><a class="dropdown-item" href="/tools/tools/unit-converters/Weight-converter.html">Weight Converter</a></li>

                        </ul>
                    </li>
                   
                </ul>
                <form class="d-flex" id="search-form">
                    <input class="form-control me-2" type="search" placeholder="Search tools..." aria-label="Search" id="search-input">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
